@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stock Management System</h1>
    <hr/>
    <p class="lead">It's a simple management system for product stocks, where multiple companies has various sorts of item categories.
        This application contructed by ASP.NET MVC <b><u>without using Entity Framework</u></b> open source object-relational mapper.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Tools and Software Exploited</h2>
        <p>
            <b># Tools & Language:</b> C#, html, bootstrap javascript & jquery (ajax/json). <br />
            <b># IDE:</b> Visual Studio 2013.<br />
            <b># Framework:</b> ASP.NET.<br />
            <b># Model:</b> Model-View-Controller 5.<br />
            <b># Database:</b> Microsoft SQL Server 2012.<br />
            <b># Database Management:</b> SQL Management Studio 2012.<br />
            <b># Code Analyzer:</b> JetBrains Resharper 2015.1.3. <br />
        </p>
    </div>
    <div class="col-md-6">
        <h2>Design & Developer Information</h2>
        <p>
            <b>* Name:</b> Md. Akter Hossain <br />
            <b>* Level:</b> Fresher
        </p>
    </div>
</div>